* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  position: relative;
  margin: 2px 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 25px;
}

@media only screen and (max-width: 1400px) {
  .header {
    margin: 10px 30px;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    margin: 10px 30px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    margin: 10px 30px;
  }
}

.header .hamburger {
  position: relative;
  display: none;
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 10px;
  cursor: pointer;
  content: "";
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 900px) {
  .header .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .header .hamburger {
    display: block;
  }
}

.header .hamburger:before,
.header .hamburger:after {
  content: "";
  position: absolute;
  height: 3px;
  right: 0;
  background: black;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .hamburger:before {
  top: -10px;
  width: 20px;
}

.header .hamburger:after {
  top: 10px;
  width: 20px;
}

.header #toggle-menu {
  position: absolute;
  width: 30px;
  height: 100%;
  z-index: 3;
  cursor: pointer;
  opacity: 0;
  display: none;
}

@media only screen and (max-width: 900px) {
  .header #toggle-menu {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .header #toggle-menu {
    display: block;
  }
}

.header .navigation input:checked ~ .hamburger {
  background: transparent;
}

.header .navigation input:checked ~ .hamburger:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 20px;
}

.header .navigation input:checked ~ .hamburger:after {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 20px;
}

.header .navigation input:checked ~ .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transition: 0.03s;
  transition: 0.03s;
  border-top: 1px solid #dddddd;
  top: 50px;
  position: absolute;
}

.header .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  -webkit-transition: 0.03s;
  transition: 0.03s;
}

@media only screen and (max-width: 900px) {
  .header .navigation .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 65px;
    right: 0px;
    width: 100%;
    display: none;
    -webkit-transition: 0.03s;
    transition: 0.03s;
    background-color: white;
  }
}

@media only screen and (max-width: 600px) {
  .header .navigation .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 65px;
    right: 0px;
    background-color: white;
    width: 100%;
    display: none;
    -webkit-transition: 0.03s;
    transition: 0.03s;
  }
}

.header .navigation .menu li {
  list-style: none;
}

.header .navigation .menu li #contact {
  text-decoration: underline;
}

.header .navigation .menu li a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 25px 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .navigation .menu li a:hover {
  -webkit-box-shadow: 0 -5px 0px gray inset;
          box-shadow: 0 -5px 0px gray inset;
}

.heading-bg {
  height: 350px;
  width: 100%;
}

.heading-bg img {
  height: 100%;
  width: 100%;
}

.forms {
  margin-left: 250px;
  margin-right: 60%;
  margin-top: 10px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 1400px) {
  .forms {
    margin: 0 60% 0 60px;
    padding-top: 1%;
  }
}

@media only screen and (max-width: 900px) {
  .forms {
    margin: 0 40% 0 40px;
    padding-top: 1%;
  }
}

@media only screen and (max-width: 600px) {
  .forms {
    margin: 0 60px;
    padding-top: 1%;
  }
}

.forms .form-group {
  margin-top: 10px;
}

.forms .form-group input,
.forms .form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 15px;
  margin-top: 5px;
  border-radius: 8px;
}

.forms textarea {
  resize: vertical;
}

.forms button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 18px;
  background-color: #F3976C;
  -webkit-transition: .3s ease background-color;
  transition: .3s ease background-color;
  color: black;
  cursor: pointer;
}

.forms button[type="submit"]:hover {
  background-color: #b68166;
}

.forms .information {
  color: black;
  margin-top: 20px;
  font-size: 12px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1400px) {
  .forms .information {
    margin: 10px 60px;
  }
}

@media only screen and (max-width: 900px) {
  .forms .information {
    margin: 10px 60px;
  }
}

@media only screen and (max-width: 600px) {
  .forms .information {
    margin: 10px 60px;
  }
}

.forms .information a {
  color: black;
  font-style: italic;
  font-weight: bold;
}

.forms .information a:hover {
  color: #F3976C;
}

.footer-bg {
  background: #364577;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-bg .footer-quote {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
}

.footer-bg .footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-bg .footer-logos .social {
  padding: 15px;
}

.footer-bg .footer-logos .social a {
  color: white;
}

.footer-bg .footer-logos .social a:hover {
  color: gray;
  cursor: pointer;
}
/*# sourceMappingURL=contact.css.map */