@import "./variables";


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

.header{
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 25px 250px;
    @include margin30;

        .nav{
            height: auto;
            width: 20%;
           
        }
                .nav ul li{
                    display: inline-flex;
                    padding-right: 20px;
                    margin-top: 10px;
                }
    

}

.heading-bg{
    background: url(../img/atlanta-made-sign.jpg)
    repeat fixed 50%;
    padding-top: 10%;
    padding-bottom: 5%;

        .mike-face{
            display: flex;
            flex-direction: column;
            align-items: center;

                .name{
                    color: white;
                    font-size: 40px;
                }

                .contact{   
                    color: white;
                    margin: 10px;
                    border: 1px solid black;
                    padding: 15px;
                    width: 140px;
                    text-align: center;
                    border-radius: 50px;
                    background-color: orangered;
                    font-size: 20px;
                }
        }
}

section.intro
{
    margin: 50px 250px;
    @include margin30;
    .quote{
        height: auto;
        width: auto;
        text-align: center;
        display: flex;
        justify-content: center;


        h1{
            width: auto;
            font-size: 30px;
            @include responsive(tab) {
                font-size: 23px;
                }
            @include responsive(phone) {
                font-size: 23px;
                }
        }
    }

    .introductions{
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding-top: 40px; 
      @include flex-column;

            .intro-title{
                display: flex;
                margin-right: 10px;
                flex-direction: column;
                @include responsive(tab) {
                    padding-top: 15px;
                    }
                @include responsive(phone) {
                    padding-top: 15px;
                    }

            }

                p{
                  width: 250px;
                    font-size: 13px;
                    padding-top: 10px;
                    text-align: center;
                    @include responsive(tab) {
                        align-content: center;
                        align-items: center;
                        margin-right: 20px;
                        margin-left: 20px;
                        }
                    @include responsive(phone) {
                       align-content: center;
                       align-items: center;
                       margin-right: 20px;
                       margin-left: 20px;
                        }
                }
    }

    .feedback{
       display: flex;
       text-align: center;
        padding-top: 50px;
        width: auto;
        justify-content: center;

        @include responsive(tab) {
            padding-top: 20px;
            }
        @include responsive(phone) {
            padding-top: 20px;
            }

            p{
                width: 50%;
                @include responsive(tab) {
                    width: auto;
                   
                    }
                @include responsive(phone) {
                    width: auto;
                    
                    }
            }
    }
}

.bg-2{
    background: url(../img/atlanta-made-sign-orange.jpg)
    repeat fixed 50%;
    z-index: -1;

        .bg-2-inside{
           background:url(../img/texture-paper.png) repeat;
           z-index: 1;
           height: 100%;
           padding-top: 8%;
           padding-bottom: 8%;  
            
            .bg-quote{
                padding-top: 20px;
                padding-bottom: 20px;
                z-index: 2;
                opacity: 0.5;
                background-color: #364577;
                margin-right: 400px;
                margin-left: 400px;
            }
                    .bg-quote-inside{
                        font-size: 20px;
                        z-index: 3;
                    
            
            
                    p{
                        margin: 40px;
                        text-align: center;
                        z-index: 3;
                        color: #fff;

                    
                        a{
                            color: #fff;
                        }
                    }
               }
        }
}

.bg-lines-client{
    background: url(../img/lines-h2-bg.png) 
    repeat 100%;
    padding-bottom: 50px;
    padding-top: 50px;

    .client-section{
        margin-left: 250px;
        margin-right: 250px;
        height: auto;
        @include margin30;
       
            .client-intro{
                height: auto;
                width: auto;
                text-align: center;
                display: flex;
                justify-content: center;

                h1{
                    width: auto;
                    font-size: 30px;
                    margin-bottom: 20px;

                    @include responsive(tab) {
                        font-size: 23px;
                    }
                    @include responsive(phone) {
                    font-size: 23px;
                    }
                }
            }

            .client-pictures{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
                grid-template-rows: auto;
                grid-template-areas: 
                'p1 p2'
                'p3 p4';
                text-align: center;
                width: auto;
                height: 100%;
                margin-left: 100px;
                margin-right: 100px;
                grid-gap: 10px;
                  
     
                .dog{
                    @include client-pictures;
                    grid-area: p1;
                }

                .cupcakes{
                    @include client-pictures;
                    grid-area: p2;
                }

                .gear{
                    @include client-pictures;
                    grid-area: p3;
                }

                .legal{
                    @include client-pictures;
                    grid-area: p4;
                }

               
                
            }    
    }

}